/*MAIN*/
* {
    margin: 0;
}

body {
    font-family: 'Space Mono', serif;
}
h1, h2, h3 {
    font-family: 'Radley', serif;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

h1 {
    color: white;
    font-size: 200px;
    letter-spacing: 7px;
}

h2 {
    font-size: 40px;
    color: black;
    margin: 30px 0 10px 0;
}

h2.inTouch {
    font-size: 100px;
}

h3 {
    font-size: 25px;
    color: #F04D23;
    margin-top: 20px;
}

img {
    width: 100%;
}

p {
    font-size: 14px;
    margin-top: 15px;
}

a {
    color: #F04D23;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*HEADER*/
header {
    height: 80vh;
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 10px;
}
nav li {
    font-family: 'Space Mono', serif;
    padding: 0px 15px;
    font-size: 16px;
    list-style: none;
    display: inline-block;
    margin: 20px 30px;
}

li a {
    text-decoration: none;
    color: black;
}

header p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}
header p a {
    color: white;
}

p.layout {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    left: 10px;
    bottom: 0;
}


/*II section*/
ul {
    padding: 0 0 20px 0;
}
ul.list li {
    font-family: 'Radley', serif;
    list-style: none;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #d8d8d8;
}

.author {
    position: relative;
    padding: 40px 0 0 0 ;
}

.author img {
    height: 90%;
    width: 85%;
    object-fit: cover;
}

.author::before {
    position: absolute;
    content: url(../img/cross.svg);
    width: 190px;
    top: 0;
    left: -100px;
    z-index: -1;
}

p.contact {
    font-size: 18px;
    top: -200px;
}

/*Projects*/
#projects p {
    padding: 8px 0;
    line-height: 2;
}

/* Instagram */
#instagram h2 {
    padding: 15px 0;
}

/* stayInTouch */
#contact div {
    text-align: center;
    padding: 80px 0;
}

#contact div p {
    padding: 40px 0 0 0;
}

.inTouch {
    position: relative;
}

.inTouch::before {
    position: absolute;
    content: url(../img/line.svg);
    width: 65vw;
    z-index: -1;
    top: 50px;
    left: 5vw;
}


/*FOOTER*/
footer {
  background: #f2f2f2;
  text-align: center;
  padding: 25px 0;
}

/*ICONS*/
.icons {
    position: fixed;
    top: 37vh;
}
.icons li {
    list-style: none;
    width: 40px;
}

